<%= stylesheet_link_tag "home" %>

<!--Hero Section-->

<div class="hero">
    <div class="hero-grid">
        <div class="left-hero">
            <h3 class="cyruss-name">cyruss allen amante</h3>
            <h1 class="title">software</h1>
            <h1 class="title">engineering</h1>
            <h1 class="title">student.</h1>
            <p>A third year software engineering student from McMaster University. Currently looking for opportunities such as 
            internships/co-ops related to SWE or software development. Is defined as a team player with time-managment skills and strong work ethic.
            Always willing to learn new skills and adapt to unprecidented situations.</p>
            <%= image_tag("abstract/square-grid.svg", :alt => "square-grid", :class => "square-grid", :draggable => "false") %>
        </div>
        <div class="right-hero">
            <%= image_tag("home/hero.svg", :alt => "Cyruss Allen Amante", :class => "hero-image", :draggable => "false") %>
        </div>
    </div>
</div>

<!--Content 1 Section-->

<div class = "content_1">
    <%= image_tag("abstract/slime.svg", :alt => "slime", :class => "slime", :id => "slime-1", :draggable => "false") %>
    <%= image_tag("abstract/slime.svg", :alt => "slime", :class => "slime", :id => "slime-2", :draggable => "false") %>
    <%= image_tag("abstract/lines.svg", :alt => "lines", :class => "lines", :id => "lines-1", :draggable => "false") %>
    <%= image_tag("abstract/lines.svg", :alt => "lines", :class => "lines", :id => "lines-2", :draggable => "false") %>
    <%= image_tag("abstract/arrows.svg", :alt => "arrows", :class => "arrows", :id => "arrows-1", :draggable => "false") %>
    <%= image_tag("abstract/arrows.svg", :alt => "arrows", :class => "arrows", :id => "arrows-2", :draggable => "false") %>
    <div class="content-1-grid">
        <div class="left-content-1">
            <h2 class="c1h" id="lch1">develop.</h2>
            <div class="text-area">
                <p class="c1t" id="lct1">Software development is not just about programming. Building a product, that not only works, but works the right way
                is what I strive to accomplish. The skills that I have right now are not perfect, but with time and dedication I believe I am a student who has
                the potential to develop something big.</p>
            </div>
        </div>
        <div class="right-content-1">
            <h2 class="c1h" id="rch1">engineer.</h2>
            <div class="text-area">
                <p class="c1t" id="rct1">Throughout my undergraduate degree I have learned the importance of the mission that we as future engineers
                must do. As I develop my skills, I become equipped with developing a project while enacting on the guidelines and values that engineers
                across the globe keep. </p>
            </div>
        </div>
    </div>
</div>


<!--Content 2 Section-->

<div class = "content_2">
    <%= image_tag("abstract/divider.svg", :alt => "divider", :class => "divider", :draggable => "false") %>
    <%= image_tag("abstract/slime-bl.svg", :alt => "slime-bl", :class => "slime-bl", :draggable => "false") %>
    <%= image_tag("abstract/slime-br.svg", :alt => "slime-br", :class => "slime-br", :draggable => "false") %>
    <%= image_tag("abstract/circles.svg", :alt => "circles", :class => "circles", :draggable => "false") %>
    <%= image_tag("abstract/dotted-grid.svg", :alt => "dotted-grid", :class => "dotted-grid", :draggable => "false") %>
    <div class="content-2-grid">
        <div class = "left-content-2">
            <%= image_tag("abstract/dotted-line.svg", :alt => "dotted-line", :class => "dotted-line", :draggable => "false") %>
            <h2 class="ch2">my work.</h2>
            <p class="ct2">I am continuously working towards improving my software engineering skills both within my studies and personal life as well. 
            </p>
            <%= button_to 'see my work.', 'projects', method: :get, class: 'content-2-btn' %>
        </div>
        <div class = "right-content-2">
            <%= image_tag("abstract/dotted-line.svg", :alt => "dotted-line", :class => "dotted-line", :draggable => "false") %>
            <h2 class="ch2">my videos.</h2>
            <p class="ct2">I upload them... well, maybe sometimes. On here, I upload videos pertaining to another hobby of mine, music. Covers,
            original songs and just some of the things you can find on my channel.</p>
            <%= button_to 'watch my videos.', 'https://bit.ly/sub2cy', method: :get, class: 'content-2-btn' %>
        </div>
    </div>
</div>